@import "../variables.less";
@import "../boilerplate.less";

.home {
	.homeTitle {
		margin-top: 96px;

		h1 {
			font-size: 32px;
			font-weight: bold;
			margin-bottom: 48px;
			text-align: center;
			text-transform: uppercase;

			span {
				color: @blue;
			}
		}
		p {
			line-height: 32px;
		}
		.login {
			margin-top: 32px;
			text-align: center;
		}
	}
}