@import "../variables.less";
@import "../boilerplate.less";

.top-bar {
	&.uploading {
		background-color: @blue;
		border-color: @dark-blue;
		padding: 55px 0;

		.topBar {
			display: none;
		}
	}
}

.topBarUpload {

	h3 {
		color: @white;
		font-size: 25px;
	}

	.dropzone {
		background-color: @light-blue;
		border: 3px dashed @dark-blue;
		color: @dark-blue;
		cursor: pointer;
		height: 250px;
		text-align: center;
		width: 250px;

		.dropzoneInner {
			position: relative;
			top: 100px;

			i {
				font-size: 60px;
			}
		}
	}
	.dropzone.dragover,
	.dropzone.dropped,
	.dropzone:hover {
		background-color: @dark-blue;
		border-color: @light-blue;
		color: @light-blue;
	}

	input,
	input[type="text"],
	textarea,
	.selectize-input {
		outline: 0;
		background: #f2f2f2;
		width: 100%;
		border: 0;
		margin: 10px 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
	}

	.tags {
		.tagsSelector {
			// margin-top: 10px;

			.selectize-input {
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;

				-webkit-box-shadow: none;
				box-shadow: none; 

				margin-bottom: 0;
			}
			.selectize-control.multi .selectize-input.has-items {
				padding: 15px; 
			}
			.selectize-dropdown {
				background: #f2f2f2;

				.active {
					background: @dark-blue;
					color: @white;
				}
			}
			.selectize-control.multi .selectize-input > div {
				margin-bottom: 0;
			}
		}
	}

	.location {
		margin-top: 25px;
		
		span {
			display: none;
		}
	}

	.uploadImage {
		.create-new {
			margin-left: 25%;
			position: initial;
		}
	}

	.description {
		margin-top: 15px;
	}

	.tags,
	.description,
	.sourceURL {
		margin-top: 10px;
	}

	.close {
		font-size: 30px;
		position: absolute;
		right: 0;
	}
}

.allImages {
	min-height: 536px;
}